<link rel="stylesheet" href="components/footer.css">
<footer style="background-color: rgba(255, 255, 255, 1);">
    <section>
        <img src="public/images/ekyamm-white.png" alt="Company Logo" class="logo ekyamm-logo">
        <div id="store">
            <a href="https://play.google.com/store/apps/details?id=com.ekyamm.app" target="_blank">
                <img src="public/images/Play-store.png" alt="Play Store" class="logo">
            </a>
            <a href="https://apps.apple.com/in/app/ekyamm-mh-clinic-companion/id6450462268" target="_blank">
                <img src="public/images/App-store.png" alt="App Store" class="logo">
            </a>
        </div>
    </section>
    <div id="copyright" align="center">Copyright © <span id="currentYear"></span>&nbsp;Radicle Minds India Private Limited. All rights reserved. | 
        <a href="privacy-policy.html" style="color:inherit; font-weight: 500; cursor: pointer;">Privacy Policy</a>
    </div>
</footer>