<link rel="stylesheet" href="components/navbar.css">
<!-- Navbar -->
<div id="navbar" class="navbar-main">

    <div class="navbar">
        <!-- Company Logo (left align) -->
        <img src="public/images/ekyamm-white.png" alt="Company Logo" class="logo ekyamm-logo">

        <!-- Right side container -->
        <div class="nav-right">
            <!-- Menu Options -->
            <ul id="menu-desktop" class="menu">
                <li><a href="mh-practitioner.html">MH Practitioner</a></li>
                <li class="active"><a href="fertility.html">Fertility</a></li>
            </ul>

            <!-- Buttons -->
            <div class="buttons">
                <button id="chatNow" class="brand-btn contact-button">Chat Now</button>
                <button id="contactUs" class="brand-btn contact-button">Contact Us</button>
            </div>
        </div>
    </div>

    <ul id="menu-mobile" class="menu">
        <li><a href="mh-practitioner.html">MH Practitioner</a></li>
        <li class="active"><a href="fertility.html">Fertility</a></li>
    </ul>
</div>