

.section2-h1{
    font-family: 'Roboto Serif' !important;
    color: #2F2F2F;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.section2-btn{
    width: fit-content;
}

#section2-subtext{
    width: 30%;
}
#section2-subtext p{
    width: 50%;
}
#section2-subtext button{
    width: auto;
    align-items: flex-start;
}


@media (min-width: 768px) {
    /* Tablet styles */
    
    #section2-subtext{
        width: 80%;
    }
    #section2-subtext p{
        width: 60%;
    }
}


@media (max-width: 480px) {
    /* Mobile styles */

    .section2-h1{
        padding: 0;
    }
    #section2-subtext{
        width: 100%;
    }
    #section2-subtext p{
        width: 80%
    }
    .break-line{
        display: none;
    }
}