<link rel="stylesheet" href="components/bootstrap.min.css">
<link rel="stylesheet" href="components/section1.css">

<div class="d-flex flex-column-reverse flex-md-equal w-100 align-items-center flex-md-row">
    <!-- my-md-3 pl-md-3 -->
    <div class="ml-md-5 mr-md-3 text-center text-white overflow-hidden">
        <!-- order-2 order-md-1 pt-3 px-3 pt-md-5 px-md-5 -->
        <img src="public/images/patient-doctor.png" alt="Patient Doctor" class="img-fluid">
      
    </div>
    <div class="mr-md-5 pr-md-5 text-md-start overflow-hidden text-responsive">
        <!-- order-1 order-md-2 pt-3 px-3 pt-md-5 px-md-5 -->
        <div class="my-3">
            <h1 class="h1 section1-h1">Patient Care with Mind-Body-Emotional Balance</h1>
            <p class="lead section1-p">Ekyamm empowers your treatment plans by seamlessly integrating emotional well-being support into the treatment journey.</p>
        </div>
        <button class="custom-btn">Start Now <img src="public/images/Arrow.svg" alt=""></button>
    </div>
</div>