
.section3-li{
    font-family: 'Roboto Serif';
    font-weight: 700;
    color: #2F2F2F;
    font-size: clamp(1rem, 3.5vw, 2.5rem);
}

#section3-subtext{
    width: 50%;
}

#custom-bold{
    font-weight: 700;
}

#custom-color{
    color: #3B326B;
}


@media (min-width: 768px) {
    /* Tablet styles */

    #section3-subtext{
        width: 80%;
    }    
}


@media (max-width: 480px) {
    /* Mobile styles */

    #section3-subtext{
        width: 95%;
    }
    #section3-list{
        line-height: 70%;
    }
}