.custom-img{
    position: relative;
    right: 0;
    /* top: 50%; */
    max-width: 50vw; /* Adjust width as needed */
    height: auto;
    /* height: 30rem; */
}

.section5-h1{
    font-family: 'Roboto Serif';
    color: #3B326B;
}

#section5-img-container{
    display: flex;
    justify-content: end;
    align-items: end;
}
#section5-img{
    max-height: 50vh;
    /* display: block; */
    /* margin: 0;
    padding: 0; */
    /* max-width: 100%; */
    /* transform: translateX(80%); */
}


@media (min-width: 768px) {
    /* Tablet styles */
    
    #section5-img{
        max-height: 40vh;
        transform: translateX(30%);
    }
}


@media (max-width: 480px) {
    /* Mobile styles */
    
    .custom-img{
        transform: translateX(-8%);
        position: inherit;
        right: 0;
        /* max-width: 80vw; */
        /* height: 20rem; */
    }   
    #section5-img{
        height: 100%;
        transform: translateX(35%);
    }
}