.custom-img{
    position: relative;
    right: 0;
    /* top: 50%; */
    max-width: 50vw; /* Adjust width as needed */
    height: auto;
    /* height: 30rem; */
}

.section5-h1{
    font-family: 'Roboto Serif';
    color: #3B326B;
}


@media (max-width: 480px) {
    /* Mobile styles */
    
    .custom-img{
        transform: translateX(-30%);
        position: inherit;
        right: 0;
        max-width: 80vw;
        /* height: 20rem; */
    }   
}